body {
  background-color: #000;
  font-family: "Arial";
  color: #FFF;
  font-style: italic;
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
}
#logo {
  background-image: url(/img/logo.png);
  height: 245px;
  width: 490px;
}
#header {
  margin-bottom: 20px;
}
#header nav {
  margin: 5px 0 20px 0;
  padding: 0;
}
#header nav a {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
}
#header nav a.selected {
  color: #bf0000;
}
#header nav a:hover {
  color: #bf0000;
}
#header figure {
  margin: 0;
}
#header .social {
    margin-top: 100px;
}
.news {
  margin-bottom: 50px;
}
.news .more a:hover {
  color: #bf0000;
}
.news .more a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #bf0000;
}
.the-band {
  width: 940px;
  overflow: hidden;
}
